.App {
  text-align: center;
}

.Hero-logo {
  height: 400px;
}

.App-hero {
  background-color: #3f51b5;
  height: 80vh;
  min-height: 620px;
  max-height: 820px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
