html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #111;
    color: white;
    font-family: "Open Sans", sans-serif;
}
p {
    margin: 0;
}
ol,
ul,
li {
    border: 0px;
    margin: 0px;
    padding: 0px;
    list-style: none outside none;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}
h1,
h2,
h3,
h4 {
    margin: 0;
}
#container {
    min-height: 400px;
    height: 100%;
    position: relative;
}
header {
    padding: 10px;
}
section#main {
    display: table;
    height: 100vh;
    width: 100%;
}
section#info {}h2.info-item {
    font-weight: 100;
    padding: 5px;
}
hr.separator {
    width: 150px;
    margin-top: 40px;
    margin-bottom: 40px;
}
#main .title {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 5rem;
    font-weight: 100;
    padding: 0 20px;
}
#main .subtitle {
    font-weight: 100;
    padding: 5px 20px;
}
button.btn {
    border: 1px;
    padding: 15px 20px;
    font-size: 16px;
    margin: 30px 30px;
    min-width: 200px;
    width: 20%;
    color: #fff;
    background-color: #111;
    background-repeat: repeat-x;
    cursor: pointer;
    text-transform: uppercase;
    border-color: #fff;
    border-style: groove;
}
button.btn:hover > a:hover {
    text-decoration: none;
}
button.btn:hover {
    color: #fff;
    background-color: #1e1e1e;
    background-repeat: repeat-x;
    cursor: pointer;
}
#main-wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}
#copyright {
    text-align: center;
    display: inherit;
    font-weight: 100;
}
@media (max-width: 767px),
(max-device-width: 1024px),
(max-height: 360px) {
    footer {
        position: inherit;
        margin-top: 60px;
    }
}
